In [1]:
import pandas as pd
import numpy as np
import glob

# path = "exp_records/*.csv"
path = "exp_records_3rd_batch/*.csv"
tickers = ["PETR4", "VALE3", "BOVA11", "ITUB4", "BBDC4", "B3SA3", "BBAS3", "ABEV3", "MGLU3", "VVAR3"]
index_name_mapping = {
    0: "PETR4",
    1: "VALE3",
    2: "BOVA11",
    3: "ITUB4",
    4: "BBDC4",
    5: "B3SA3",
    6: "BBAS3",
    7: "ABEV3",
    8: "MGLU3",
    9: "VVAR3"
}

lstm_ceemdan_exp_dfs = []
lstm_ceemdan_spline_exp_dfs = []
xlstm_ceemdan_exp_dfs = []
xlstm_ceemdan_spline_exp_dfs = []  

for exp_name in glob.glob(path):
    df = pd.read_csv(exp_name)
    exp_name = f'{exp_name[:-24]}_exp'
    if "lstm_ceemdan_exp" in exp_name:
        print("lstm_ceemdan_exp")
        lstm_ceemdan_exp_dfs += [df]
    if "lstm_ceemdan_spline_exp" in exp_name:
        print("lstm_ceemdan_spline_exp")
        lstm_ceemdan_spline_exp_dfs += [df]
    if "xlstm_ceemdan_full_exp" in exp_name:
        print("xlstm_ceemdan_full_exp")
        xlstm_ceemdan_exp_dfs += [df]
    if "xlstm_ceemdan_full_spline_exp" in exp_name:
        print("xlstm_ceemdan_full_spline_exp")
        xlstm_ceemdan_spline_exp_dfs += [df]
        
lstm_ceemdan_exp_dfs_concat = pd.concat(lstm_ceemdan_exp_dfs)
lstm_ceemdan_spline_exp_dfs_concat = pd.concat(lstm_ceemdan_spline_exp_dfs)
xlstm_ceemdan_exp_dfs_concat = pd.concat(xlstm_ceemdan_exp_dfs)
xlstm_ceemdan_spline_exp_dfs_concat = pd.concat(xlstm_ceemdan_spline_exp_dfs)

xlstm_ceemdan_full_exp
xlstm_ceemdan_full_exp
xlstm_ceemdan_full_exp
lstm_ceemdan_spline_exp
lstm_ceemdan_spline_exp
xlstm_ceemdan_full_spline_exp
lstm_ceemdan_spline_exp
lstm_ceemdan_exp
xlstm_ceemdan_full_spline_exp
lstm_ceemdan_spline_exp
xlstm_ceemdan_full_spline_exp
lstm_ceemdan_spline_exp
lstm_ceemdan_spline_exp
lstm_ceemdan_exp
xlstm_ceemdan_full_spline_exp
lstm_ceemdan_exp
lstm_ceemdan_exp
xlstm_ceemdan_full_exp
lstm_ceemdan_spline_exp
xlstm_ceemdan_full_exp
xlstm_ceemdan_full_exp
xlstm_ceemdan_full_spline_exp
xlstm_ceemdan_full_spline_exp
lstm_ceemdan_exp
xlstm_ceemdan_full_spline_exp
xlstm_ceemdan_full_exp
xlstm_ceemdan_full_spline_exp
lstm_ceemdan_spline_exp
lstm_ceemdan_exp
lstm_ceemdan_spline_exp
xlstm_ceemdan_full_exp
lstm_ceemdan_spline_exp
xlstm_ceemdan_full_spline_exp
lstm_ceemdan_exp
lstm_ceemdan_spline_exp
lstm_ceemdan_exp
lstm_ceemdan_exp
xlstm_ceemdan_full_spline_exp
lstm_ceemdan_exp
xlstm_ceemdan_full_exp
xlstm_ceemdan_full_spline_exp
xlstm_ceemdan_full_exp

# Absolute accuracies by ticker

In [2]:
lstm_ceemdan_std = lstm_ceemdan_exp_dfs_concat.groupby(lstm_ceemdan_exp_dfs_concat.index).std()
lstm_ceemdan_std.columns = ['mse_std', 'mape_std']
lstm_ceemdan_avg = lstm_ceemdan_exp_dfs_concat.groupby(lstm_ceemdan_exp_dfs_concat.index).mean()
lstm_ceemdan_avg.columns = ['mse_avg', 'mape_avg']

lstm_ceemdan = pd.concat([lstm_ceemdan_avg,lstm_ceemdan_std], axis=1)
lstm_ceemdan = lstm_ceemdan.rename(index=index_name_mapping)
lstm_ceemdan = lstm_ceemdan[['mse_avg','mse_std','mape_avg','mape_std']]
lstm_ceemdan = lstm_ceemdan.round(decimals=3)

lstm_ceemdan.to_csv(f'summary_results/avg_results_lstm_ceemdan.csv', sep=',', encoding='utf-8')

print('LSTM CEEMDAN')
lstm_ceemdan

LSTM CEEMDAN

        mse_avg  mse_std  mape_avg  mape_std
PETR4     0.282    0.246     1.300     0.160
VALE3     0.564    0.492     1.453     0.399
BOVA11    1.403    0.757     0.872     0.213
ITUB4     0.088    0.053     1.180     0.232
BBDC4     0.192    0.123     1.483     0.327
B3SA3     0.568    0.569     1.495     0.405
BBAS3     0.591    0.418     1.946     0.639
ABEV3     0.105    0.042     0.989     0.251
MGLU3     1.025    0.321     1.923     0.403
VVAR3     0.110    0.113     2.867     0.897

In [3]:
lstm_ceemdan_spline_std = lstm_ceemdan_spline_exp_dfs_concat.groupby(lstm_ceemdan_spline_exp_dfs_concat.index).std()
lstm_ceemdan_spline_std.columns = ['mse_std', 'mape_std']
lstm_ceemdan_spline_avg = lstm_ceemdan_spline_exp_dfs_concat.groupby(lstm_ceemdan_spline_exp_dfs_concat.index).mean()
lstm_ceemdan_spline_avg.columns = ['mse_avg', 'mape_avg']

lstm_ceemdan_spline = pd.concat([lstm_ceemdan_spline_avg,lstm_ceemdan_spline_std], axis=1)
lstm_ceemdan_spline = lstm_ceemdan_spline.rename(index=index_name_mapping)
lstm_ceemdan_spline = lstm_ceemdan_spline[['mse_avg','mse_std','mape_avg','mape_std']]
lstm_ceemdan_spline = lstm_ceemdan_spline.round(decimals=3)

lstm_ceemdan_spline.to_csv(f'summary_results/avg_results_lstm_ceemdan_spline.csv', sep=',', encoding='utf-8')

print('LSTM CEEMDAN SPLINE')
lstm_ceemdan_spline

LSTM CEEMDAN SPLINE

        mse_avg  mse_std  mape_avg  mape_std
PETR4     0.140    0.006     0.930     0.055
VALE3     0.347    0.101     0.996     0.134
BOVA11    0.302    0.046     0.653     0.048
ITUB4     0.051    0.007     1.047     0.038
BBDC4     0.093    0.015     0.887     0.088
B3SA3     0.272    0.015     1.217     0.048
BBAS3     0.178    0.048     1.184     0.083
ABEV3     0.051    0.006     0.678     0.077
MGLU3     0.628    0.058     1.464     0.065
VVAR3     0.010    0.001     1.948     0.076

In [4]:
xlstm_ceemdan_std = xlstm_ceemdan_exp_dfs_concat.groupby(xlstm_ceemdan_exp_dfs_concat.index).std()
xlstm_ceemdan_std.columns = ['mse_std', 'mape_std']
xlstm_ceemdan_avg = xlstm_ceemdan_exp_dfs_concat.groupby(xlstm_ceemdan_exp_dfs_concat.index).mean()
xlstm_ceemdan_avg.columns = ['mse_avg', 'mape_avg']

xlstm_ceemdan = pd.concat([xlstm_ceemdan_avg,xlstm_ceemdan_std], axis=1)
xlstm_ceemdan = xlstm_ceemdan.rename(index=index_name_mapping)
xlstm_ceemdan = xlstm_ceemdan[['mse_avg','mse_std','mape_avg','mape_std']]
xlstm_ceemdan = xlstm_ceemdan.round(decimals=3)

xlstm_ceemdan.to_csv(f'summary_results/avg_results_xlstm_ceemdan.csv', sep=',', encoding='utf-8')

print('XLSTM CEEMDAN')
xlstm_ceemdan

XLSTM CEEMDAN

        mse_avg  mse_std  mape_avg  mape_std
PETR4     0.175    0.089     1.334     0.430
VALE3     1.460    1.243     1.256     0.190
BOVA11    2.389    3.162     1.364     0.628
ITUB4     0.272    0.228     1.248     0.208
BBDC4     0.682    0.797     2.604     1.362
B3SA3     5.248    4.789     2.270     1.169
BBAS3     4.049    3.319     3.200     1.611
ABEV3     0.114    0.055     1.542     0.593
MGLU3     2.242    1.460     2.799     1.103
VVAR3     0.147    0.176     2.701     0.823

In [5]:
xlstm_ceemdan_spline_std = xlstm_ceemdan_spline_exp_dfs_concat.groupby(xlstm_ceemdan_spline_exp_dfs_concat.index).std()
xlstm_ceemdan_spline_std.columns = ['mse_std', 'mape_std']
xlstm_ceemdan_spline_avg = xlstm_ceemdan_spline_exp_dfs_concat.groupby(xlstm_ceemdan_spline_exp_dfs_concat.index).mean()
xlstm_ceemdan_spline_avg.columns = ['mse_avg', 'mape_avg']

xlstm_ceemdan_spline = pd.concat([xlstm_ceemdan_spline_avg,xlstm_ceemdan_spline_std], axis=1)
xlstm_ceemdan_spline = xlstm_ceemdan_spline.rename(index=index_name_mapping)
xlstm_ceemdan_spline = xlstm_ceemdan_spline[['mse_avg','mse_std','mape_avg','mape_std']]
xlstm_ceemdan_spline = xlstm_ceemdan_spline.round(decimals=3)

xlstm_ceemdan_spline.to_csv(f'summary_results/avg_results_xlstm_ceemdan_spline.csv', sep=',', encoding='utf-8')

print('XLSTM CEEMDAN SPLINE')
xlstm_ceemdan_spline

XLSTM CEEMDAN SPLINE

        mse_avg  mse_std  mape_avg  mape_std
PETR4     0.122    0.024     0.957     0.109
VALE3     0.356    0.099     0.995     0.193
BOVA11    0.305    0.101     0.572     0.064
ITUB4     0.067    0.019     1.040     0.058
BBDC4     0.110    0.032     0.841     0.084
B3SA3     0.299    0.050     1.077     0.114
BBAS3     0.161    0.020     1.038     0.053
ABEV3     0.053    0.005     0.708     0.138
MGLU3     0.717    0.121     1.193     0.049
VVAR3     0.015    0.003     1.710     0.230

# Absolute average accuracies comparison

In [6]:
avg_x_spline = xlstm_ceemdan_spline.mean(axis=0).to_frame()
avg_x_spline.columns = ['x+spline']
avg_x = xlstm_ceemdan.mean(axis=0).to_frame()
avg_x.columns = ['x']
avg_spline = lstm_ceemdan_spline.mean(axis=0).to_frame()
avg_spline.columns = ['spline']
avg_vanilla = lstm_ceemdan.mean(axis=0).to_frame()
avg_vanilla.columns = ['vanilla']

print('neural/spline threshold at IMF3')
abs_avg_comparisons = pd.concat([avg_vanilla,avg_x,avg_spline,avg_x_spline], axis=1)
abs_avg_comparisons

neural/spline threshold at IMF3

          vanilla       x  spline  x+spline
mse_avg    0.4928  1.6778  0.2072    0.2205
mse_std    0.3134  1.5318  0.0303    0.0474
mape_avg   1.5508  2.0318  1.1004    1.0131
mape_std   0.3926  0.8117  0.0712    0.1092

# Improvements by ticker

In [7]:
# avg improvement

def improvement(x, y):
    return (1-y/x)*100

vecImprovement = np.vectorize(improvement)

improv_x_spline = pd.DataFrame(vecImprovement(lstm_ceemdan,xlstm_ceemdan_spline)).round(decimals=2)
improv_x_spline.columns = [['mse_avg','mse_std','mape_avg','mape_std']]
improv_x_spline = improv_x_spline.rename(index=index_name_mapping)

improv_x_spline.to_csv(f'summary_results/improv_x_spline.csv', sep=',', encoding='utf-8')

print('Improvement: \n\nXLSTM-CEEMDAN-SPLINE Vs LSTM-CEEMDAN')
improv_x_spline

Improvement:

XLSTM-CEEMDAN-SPLINE Vs LSTM-CEEMDAN

       mse_avg mse_std mape_avg mape_std
PETR4    56.74   90.24    26.38    31.87
VALE3    36.88   79.88    31.52    51.63
BOVA11   78.26   86.66    34.40    69.95
ITUB4    23.86   64.15    11.86    75.00
BBDC4    42.71   73.98    43.29    74.31
B3SA3    47.36   91.21    27.96    71.85
BBAS3    72.76   95.22    46.66    91.71
ABEV3    49.52   88.10    28.41    45.02
MGLU3    30.05   62.31    37.96    87.84
VVAR3    86.36   97.35    40.36    74.36

In [8]:
# avg improvement

improv_spline = pd.DataFrame(vecImprovement(lstm_ceemdan,lstm_ceemdan_spline)).round(decimals=2)
improv_spline.columns = [['mse_avg','mse_std','mape_avg','mape_std']]
improv_spline = improv_spline.rename(index=index_name_mapping)

improv_spline.to_csv(f'summary_results/improv_spline.csv', sep=',', encoding='utf-8')

print('Improvement: \n\nLSTM-CEEMDAN-SPLINE Vs LSTM-CEEMDAN')
improv_spline

Improvement:

LSTM-CEEMDAN-SPLINE Vs LSTM-CEEMDAN

       mse_avg mse_std mape_avg mape_std
PETR4    50.35   97.56    28.46    65.62
VALE3    38.48   79.47    31.45    66.42
BOVA11   78.47   93.92    25.11    77.46
ITUB4    42.05   86.79    11.27    83.62
BBDC4    51.56   87.80    40.19    73.09
B3SA3    52.11   97.36    18.60    88.15
BBAS3    69.88   88.52    39.16    87.01
ABEV3    51.43   85.71    31.45    69.32
MGLU3    38.73   81.93    23.87    83.87
VVAR3    90.91   99.12    32.05    91.53

In [9]:
# avg improvement

improv_x = pd.DataFrame(vecImprovement(lstm_ceemdan,xlstm_ceemdan)).round(decimals=2)
improv_x.columns = [['mse_avg','mse_std','mape_avg','mape_std']]
improv_x = improv_x.rename(index=index_name_mapping)

improv_x.to_csv(f'summary_results/improv_x.csv', sep=',', encoding='utf-8')

print('Improvement: \n\nXLSTM-CEEMDAN Vs LSTM-CEEMDAN')
improv_x

Improvement:

XLSTM-CEEMDAN Vs LSTM-CEEMDAN

       mse_avg mse_std mape_avg mape_std
PETR4    37.94   63.82    -2.62  -168.75
VALE3  -158.87 -152.64    13.56    52.38
BOVA11  -70.28 -317.70   -56.42  -194.84
ITUB4  -209.09 -330.19    -5.76    10.34
BBDC4  -255.21 -547.97   -75.59  -316.51
B3SA3  -823.94 -741.65   -51.84  -188.64
BBAS3  -585.11 -694.02   -64.44  -152.11
ABEV3    -8.57  -30.95   -55.92  -136.25
MGLU3  -118.73 -354.83   -45.55  -173.70
VVAR3   -33.64  -55.75     5.79     8.25

In [10]:
avg_improv_summary = pd.concat([improv_spline.mean().T, improv_x.mean().T, improv_x_spline.mean().T], axis=0)
avg_improv_summary.columns = [['mse_avg','mse_std','mape_avg','mape_std']]

avg_improv_summary = {}
avg_improv_summary['spline'] = {
    'mse_avg': improv_spline.mean()[0],
    'mse_std': improv_spline.mean()[1],
    'mape_avg': improv_spline.mean()[2],
    'mape_std': improv_spline.mean()[3]
} 

avg_improv_summary['x'] = {
    'mse_avg': improv_x.mean().to_numpy()[0],
    'mse_std': improv_x.mean().to_numpy()[1],
    'mape_avg': improv_x.mean().to_numpy()[2],
    'mape_std': improv_x.mean().to_numpy()[3]
} 

avg_improv_summary['x_spline'] = {
    'mse_avg': improv_x_spline.mean().to_numpy()[0],
    'mse_std': improv_x_spline.mean().to_numpy()[1],
    'mape_avg': improv_x_spline.mean().to_numpy()[2],
    'mape_std': improv_x_spline.mean().to_numpy()[3]
} 
print(f'IMPROVEMENTS (%) relative to LSTM-CEEMDAN')
avg_improv_summary = pd.DataFrame(avg_improv_summary)
avg_improv_summary = avg_improv_summary.round(decimals=2)
avg_improv_summary.to_csv(f'summary_results/overall_improvements.csv', sep=',', encoding='utf-8')
avg_improv_summary

IMPROVEMENTS (%) relative to LSTM-CEEMDAN

          spline       x  x_spline
mse_avg    56.40 -222.55     52.45
mse_std    89.82 -316.19     82.91
mape_avg   28.16  -33.88     32.88
mape_std   78.61 -125.98     67.35