In [23]:
import pandas as pd
import numpy as np
import glob

path = "exp_records/*.csv"
tickers = ["PETR4", "VALE3", "BOVA11", "ITUB4", "BBDC4", "B3SA3", "BBAS3", "ABEV3", "MGLU3", "VVAR3"]
index_name_mapping = {
    0: "PETR4",
    1: "VALE3",
    2: "BOVA11",
    3: "ITUB4",
    4: "BBDC4",
    5: "B3SA3",
    6: "BBAS3",
    7: "ABEV3",
    8: "MGLU3",
    9: "VVAR3"
}

lstm_ceemdan_exp_dfs = []
lstm_ceemdan_spline_exp_dfs = []
xlstm_ceemdan_exp_dfs = []
xlstm_ceemdan_spline_exp_dfs = []  

for exp_name in glob.glob(path):
    df = pd.read_csv(exp_name)
    if "lstm_ceemdan" in exp_name:
        lstm_ceemdan_exp_dfs += [df]
    if "lstm_ceemdan_spline" in exp_name:
        lstm_ceemdan_spline_exp_dfs += [df]
    if "xlstm_ceemdan_full" in exp_name:
        xlstm_ceemdan_exp_dfs += [df]
    if "xlstm_ceemdan_full_spline" in exp_name:
        xlstm_ceemdan_spline_exp_dfs += [df]
        
lstm_ceemdan_exp_dfs_concat = pd.concat(lstm_ceemdan_exp_dfs)
lstm_ceemdan_spline_exp_dfs_concat = pd.concat(lstm_ceemdan_spline_exp_dfs)
xlstm_ceemdan_exp_dfs_concat = pd.concat(xlstm_ceemdan_exp_dfs)
xlstm_ceemdan_spline_exp_dfs_concat = pd.concat(xlstm_ceemdan_spline_exp_dfs)

In [35]:
lstm_ceemdan_std = lstm_ceemdan_exp_dfs_concat.groupby(lstm_ceemdan_exp_dfs_concat.index).std()
lstm_ceemdan_std.columns = ['mse_std', 'mape_std']
lstm_ceemdan_avg = lstm_ceemdan_exp_dfs_concat.groupby(lstm_ceemdan_exp_dfs_concat.index).mean()
lstm_ceemdan_avg.columns = ['mse_avg', 'mape_avg']

lstm_ceemdan = pd.concat([lstm_ceemdan_avg,lstm_ceemdan_std], axis=1)
lstm_ceemdan = lstm_ceemdan.rename(index=index_name_mapping)
lstm_ceemdan = lstm_ceemdan[['mse_avg','mse_std','mape_avg','mape_std']]
lstm_ceemdan = lstm_ceemdan.round(decimals=3)
print('LSTM CEEMDAN')
lstm_ceemdan

LSTM CEEMDAN

        mse_avg  mse_std  mape_avg  mape_std
PETR4     0.217    0.157     1.263     0.550
VALE3     1.010    1.392     1.146     0.167
BOVA11    0.785    0.899     0.820     0.270
ITUB4     0.211    0.341     1.149     0.209
BBDC4     0.304    0.424     1.188     0.393
B3SA3     1.351    2.365     1.585     0.587
BBAS3     2.021    2.850     2.185     1.290
ABEV3     0.086    0.028     0.952     0.160
MGLU3     1.672    1.391     2.215     0.621
VVAR3     0.022    0.015     2.272     0.256

In [36]:
lstm_ceemdan_spline_std = lstm_ceemdan_spline_exp_dfs_concat.groupby(lstm_ceemdan_spline_exp_dfs_concat.index).std()
lstm_ceemdan_spline_std.columns = ['mse_std', 'mape_std']
lstm_ceemdan_spline_avg = lstm_ceemdan_spline_exp_dfs_concat.groupby(lstm_ceemdan_spline_exp_dfs_concat.index).mean()
lstm_ceemdan_spline_avg.columns = ['mse_avg', 'mape_avg']

lstm_ceemdan_spline = pd.concat([lstm_ceemdan_spline_avg,lstm_ceemdan_spline_std], axis=1)
lstm_ceemdan_spline = lstm_ceemdan_spline.rename(index=index_name_mapping)
lstm_ceemdan_spline = lstm_ceemdan_spline[['mse_avg','mse_std','mape_avg','mape_std']]
lstm_ceemdan_spline = lstm_ceemdan_spline.round(decimals=3)
print('LSTM CEEMDAN SPLINE')
lstm_ceemdan_spline

LSTM CEEMDAN SPLINE

        mse_avg  mse_std  mape_avg  mape_std
PETR4     0.151    0.009     1.033     0.033
VALE3     0.217    0.052     1.054     0.062
BOVA11    0.352    0.071     0.695     0.042
ITUB4     0.108    0.004     1.100     0.042
BBDC4     0.173    0.049     0.960     0.084
B3SA3     0.307    0.009     1.302     0.007
BBAS3     0.212    0.014     1.228     0.016
ABEV3     0.070    0.004     0.943     0.037
MGLU3     0.956    0.085     1.910     0.017
VVAR3     0.021    0.004     2.151     0.127

In [37]:
xlstm_ceemdan_std = xlstm_ceemdan_exp_dfs_concat.groupby(xlstm_ceemdan_exp_dfs_concat.index).std()
xlstm_ceemdan_std.columns = ['mse_std', 'mape_std']
xlstm_ceemdan_avg = xlstm_ceemdan_exp_dfs_concat.groupby(xlstm_ceemdan_exp_dfs_concat.index).mean()
xlstm_ceemdan_avg.columns = ['mse_avg', 'mape_avg']

xlstm_ceemdan = pd.concat([xlstm_ceemdan_avg,xlstm_ceemdan_std], axis=1)
xlstm_ceemdan = xlstm_ceemdan.rename(index=index_name_mapping)
xlstm_ceemdan = xlstm_ceemdan[['mse_avg','mse_std','mape_avg','mape_std']]
xlstm_ceemdan = xlstm_ceemdan.round(decimals=3)
print('XLSTM CEEMDAN')
xlstm_ceemdan

XLSTM CEEMDAN

        mse_avg  mse_std  mape_avg  mape_std
PETR4     0.231    0.211     1.407     0.775
VALE3     1.585    1.816     1.191     0.221
BOVA11    0.733    0.800     0.883     0.330
ITUB4     0.338    0.465     1.229     0.280
BBDC4     0.441    0.589     1.269     0.519
B3SA3     2.206    3.232     1.746     0.781
BBAS3     3.372    3.537     2.433     1.411
ABEV3     0.093    0.027     0.988     0.215
MGLU3     1.513    1.433     2.388     0.799
VVAR3     0.018    0.007     2.351     0.271

In [39]:
xlstm_ceemdan_spline_std = xlstm_ceemdan_spline_exp_dfs_concat.groupby(xlstm_ceemdan_spline_exp_dfs_concat.index).std()
xlstm_ceemdan_spline_std.columns = ['mse_std', 'mape_std']
xlstm_ceemdan_spline_avg = xlstm_ceemdan_spline_exp_dfs_concat.groupby(xlstm_ceemdan_spline_exp_dfs_concat.index).mean()
xlstm_ceemdan_spline_avg.columns = ['mse_avg', 'mape_avg']

xlstm_ceemdan_spline = pd.concat([xlstm_ceemdan_spline_avg,xlstm_ceemdan_spline_std], axis=1)
xlstm_ceemdan_spline = xlstm_ceemdan_spline.rename(index=index_name_mapping)
xlstm_ceemdan_spline = xlstm_ceemdan_spline[['mse_avg','mse_std','mape_avg','mape_std']]
xlstm_ceemdan_spline = xlstm_ceemdan_spline.round(decimals=3)
print('XLSTM CEEMDAN SPLINE')
xlstm_ceemdan_spline

XLSTM CEEMDAN SPLINE

        mse_avg  mse_std  mape_avg  mape_std
PETR4     0.108    0.003     0.946     0.022
VALE3     0.212    0.038     0.998     0.010
BOVA11    0.317    0.095     0.631     0.059
ITUB4     0.097    0.009     1.025     0.083
BBDC4     0.097    0.005     0.809     0.029
B3SA3     0.275    0.020     1.138     0.107
BBAS3     0.193    0.050     1.146     0.028
ABEV3     0.069    0.006     0.815     0.042
MGLU3     1.114    0.049     1.670     0.035
VVAR3     0.016    0.002     2.156     0.191