In [1]:
import pandas as pd
import numpy as np
import glob

path = "exp_records/*.csv"
tickers = ["PETR4", "VALE3", "BOVA11", "ITUB4", "BBDC4", "B3SA3", "BBAS3", "ABEV3", "MGLU3", "VVAR3"]
index_name_mapping = {
    0: "PETR4",
    1: "VALE3",
    2: "BOVA11",
    3: "ITUB4",
    4: "BBDC4",
    5: "B3SA3",
    6: "BBAS3",
    7: "ABEV3",
    8: "MGLU3",
    9: "VVAR3"
}

lstm_ceemdan_exp_dfs = []
lstm_ceemdan_spline_exp_dfs = []
xlstm_ceemdan_exp_dfs = []
xlstm_ceemdan_spline_exp_dfs = []  

for exp_name in glob.glob(path):
    df = pd.read_csv(exp_name)
    if "lstm_ceemdan" in exp_name:
        lstm_ceemdan_exp_dfs += [df]
    if "lstm_ceemdan_spline" in exp_name:
        lstm_ceemdan_spline_exp_dfs += [df]
    if "xlstm_ceemdan_full" in exp_name:
        xlstm_ceemdan_exp_dfs += [df]
    if "xlstm_ceemdan_full_spline" in exp_name:
        xlstm_ceemdan_spline_exp_dfs += [df]
        
lstm_ceemdan_exp_dfs_concat = pd.concat(lstm_ceemdan_exp_dfs)
lstm_ceemdan_spline_exp_dfs_concat = pd.concat(lstm_ceemdan_spline_exp_dfs)
xlstm_ceemdan_exp_dfs_concat = pd.concat(xlstm_ceemdan_exp_dfs)
xlstm_ceemdan_spline_exp_dfs_concat = pd.concat(xlstm_ceemdan_spline_exp_dfs)

In [2]:
lstm_ceemdan_std = lstm_ceemdan_exp_dfs_concat.groupby(lstm_ceemdan_exp_dfs_concat.index).std()
lstm_ceemdan_std.columns = ['mse_std', 'mape_std']
lstm_ceemdan_avg = lstm_ceemdan_exp_dfs_concat.groupby(lstm_ceemdan_exp_dfs_concat.index).mean()
lstm_ceemdan_avg.columns = ['mse_avg', 'mape_avg']

lstm_ceemdan = pd.concat([lstm_ceemdan_avg,lstm_ceemdan_std], axis=1)
lstm_ceemdan = lstm_ceemdan.rename(index=index_name_mapping)
lstm_ceemdan = lstm_ceemdan[['mse_avg','mse_std','mape_avg','mape_std']]
lstm_ceemdan = lstm_ceemdan.round(decimals=3)

lstm_ceemdan.to_csv(f'summary_results/avg_results_lstm_ceemdan.csv', sep=',', encoding='utf-8')

print('LSTM CEEMDAN')
lstm_ceemdan

LSTM CEEMDAN

        mse_avg  mse_std  mape_avg  mape_std
PETR4     0.217    0.157     1.263     0.550
VALE3     1.010    1.392     1.146     0.167
BOVA11    0.785    0.899     0.820     0.270
ITUB4     0.211    0.341     1.149     0.209
BBDC4     0.304    0.424     1.188     0.393
B3SA3     1.351    2.365     1.585     0.587
BBAS3     2.021    2.850     2.185     1.290
ABEV3     0.086    0.028     0.952     0.160
MGLU3     1.672    1.391     2.215     0.621
VVAR3     0.022    0.015     2.272     0.256

In [3]:
lstm_ceemdan_spline_std = lstm_ceemdan_spline_exp_dfs_concat.groupby(lstm_ceemdan_spline_exp_dfs_concat.index).std()
lstm_ceemdan_spline_std.columns = ['mse_std', 'mape_std']
lstm_ceemdan_spline_avg = lstm_ceemdan_spline_exp_dfs_concat.groupby(lstm_ceemdan_spline_exp_dfs_concat.index).mean()
lstm_ceemdan_spline_avg.columns = ['mse_avg', 'mape_avg']

lstm_ceemdan_spline = pd.concat([lstm_ceemdan_spline_avg,lstm_ceemdan_spline_std], axis=1)
lstm_ceemdan_spline = lstm_ceemdan_spline.rename(index=index_name_mapping)
lstm_ceemdan_spline = lstm_ceemdan_spline[['mse_avg','mse_std','mape_avg','mape_std']]
lstm_ceemdan_spline = lstm_ceemdan_spline.round(decimals=3)

lstm_ceemdan_spline.to_csv(f'summary_results/avg_results_lstm_ceemdan_spline.csv', sep=',', encoding='utf-8')

print('LSTM CEEMDAN SPLINE')
lstm_ceemdan_spline

LSTM CEEMDAN SPLINE

        mse_avg  mse_std  mape_avg  mape_std
PETR4     0.151    0.009     1.033     0.033
VALE3     0.217    0.052     1.054     0.062
BOVA11    0.352    0.071     0.695     0.042
ITUB4     0.108    0.004     1.100     0.042
BBDC4     0.173    0.049     0.960     0.084
B3SA3     0.307    0.009     1.302     0.007
BBAS3     0.212    0.014     1.228     0.016
ABEV3     0.070    0.004     0.943     0.037
MGLU3     0.956    0.085     1.910     0.017
VVAR3     0.021    0.004     2.151     0.127

In [4]:
xlstm_ceemdan_std = xlstm_ceemdan_exp_dfs_concat.groupby(xlstm_ceemdan_exp_dfs_concat.index).std()
xlstm_ceemdan_std.columns = ['mse_std', 'mape_std']
xlstm_ceemdan_avg = xlstm_ceemdan_exp_dfs_concat.groupby(xlstm_ceemdan_exp_dfs_concat.index).mean()
xlstm_ceemdan_avg.columns = ['mse_avg', 'mape_avg']

xlstm_ceemdan = pd.concat([xlstm_ceemdan_avg,xlstm_ceemdan_std], axis=1)
xlstm_ceemdan = xlstm_ceemdan.rename(index=index_name_mapping)
xlstm_ceemdan = xlstm_ceemdan[['mse_avg','mse_std','mape_avg','mape_std']]
xlstm_ceemdan = xlstm_ceemdan.round(decimals=3)

xlstm_ceemdan.to_csv(f'summary_results/avg_results_xlstm_ceemdan.csv', sep=',', encoding='utf-8')

print('XLSTM CEEMDAN')
xlstm_ceemdan

XLSTM CEEMDAN

        mse_avg  mse_std  mape_avg  mape_std
PETR4     0.231    0.211     1.407     0.775
VALE3     1.585    1.816     1.191     0.221
BOVA11    0.733    0.800     0.883     0.330
ITUB4     0.338    0.465     1.229     0.280
BBDC4     0.441    0.589     1.269     0.519
B3SA3     2.206    3.232     1.746     0.781
BBAS3     3.372    3.537     2.433     1.411
ABEV3     0.093    0.027     0.988     0.215
MGLU3     1.513    1.433     2.388     0.799
VVAR3     0.018    0.007     2.351     0.271

In [5]:
xlstm_ceemdan_spline_std = xlstm_ceemdan_spline_exp_dfs_concat.groupby(xlstm_ceemdan_spline_exp_dfs_concat.index).std()
xlstm_ceemdan_spline_std.columns = ['mse_std', 'mape_std']
xlstm_ceemdan_spline_avg = xlstm_ceemdan_spline_exp_dfs_concat.groupby(xlstm_ceemdan_spline_exp_dfs_concat.index).mean()
xlstm_ceemdan_spline_avg.columns = ['mse_avg', 'mape_avg']

xlstm_ceemdan_spline = pd.concat([xlstm_ceemdan_spline_avg,xlstm_ceemdan_spline_std], axis=1)
xlstm_ceemdan_spline = xlstm_ceemdan_spline.rename(index=index_name_mapping)
xlstm_ceemdan_spline = xlstm_ceemdan_spline[['mse_avg','mse_std','mape_avg','mape_std']]
xlstm_ceemdan_spline = xlstm_ceemdan_spline.round(decimals=3)

xlstm_ceemdan_spline.to_csv(f'summary_results/avg_results_xlstm_ceemdan_spline.csv', sep=',', encoding='utf-8')

print('XLSTM CEEMDAN SPLINE')
xlstm_ceemdan_spline

XLSTM CEEMDAN SPLINE

        mse_avg  mse_std  mape_avg  mape_std
PETR4     0.108    0.003     0.946     0.022
VALE3     0.212    0.038     0.998     0.010
BOVA11    0.317    0.095     0.631     0.059
ITUB4     0.097    0.009     1.025     0.083
BBDC4     0.097    0.005     0.809     0.029
B3SA3     0.275    0.020     1.138     0.107
BBAS3     0.193    0.050     1.146     0.028
ABEV3     0.069    0.006     0.815     0.042
MGLU3     1.114    0.049     1.670     0.035
VVAR3     0.016    0.002     2.156     0.191

In [6]:
# avg improvement

def improvement(x, y):
    return (1-y/x)*100

vecImprovement = np.vectorize(improvement)

improv_x_spline = pd.DataFrame(vecImprovement(lstm_ceemdan,xlstm_ceemdan_spline)).round(decimals=2)
improv_x_spline.columns = [['mse_avg','mse_std','mape_avg','mape_std']]
improv_x_spline = improv_x_spline.rename(index=index_name_mapping)

improv_x_spline.to_csv(f'summary_results/improv_x_spline.csv', sep=',', encoding='utf-8')

print('Improvement: \n\nXLSTM-CEEMDAN-SPLINE Vs LSTM-CEEMDAN')
improv_x_spline

Improvement:

XLSTM-CEEMDAN-SPLINE Vs LSTM-CEEMDAN

       mse_avg mse_std mape_avg mape_std
PETR4    50.23   98.09    25.10    96.00
VALE3    79.01   97.27    12.91    94.01
BOVA11   59.62   89.43    23.05    78.15
ITUB4    54.03   97.36    10.79    60.29
BBDC4    68.09   98.82    31.90    92.62
B3SA3    79.64   99.15    28.20    81.77
BBAS3    90.45   98.25    47.55    97.83
ABEV3    19.77   78.57    14.39    73.75
MGLU3    33.37   96.48    24.60    94.36
VVAR3    27.27   86.67     5.11    25.39

In [7]:
# avg improvement

improv_spline = pd.DataFrame(vecImprovement(lstm_ceemdan,lstm_ceemdan_spline)).round(decimals=2)
improv_spline.columns = [['mse_avg','mse_std','mape_avg','mape_std']]
improv_spline = improv_spline.rename(index=index_name_mapping)

improv_spline.to_csv(f'summary_results/improv_spline.csv', sep=',', encoding='utf-8')

print('Improvement: \n\nLSTM-CEEMDAN-SPLINE Vs LSTM-CEEMDAN')
improv_spline

Improvement:

LSTM-CEEMDAN-SPLINE Vs LSTM-CEEMDAN

       mse_avg mse_std mape_avg mape_std
PETR4    30.41   94.27    18.21    94.00
VALE3    78.51   96.26     8.03    62.87
BOVA11   55.16   92.10    15.24    84.44
ITUB4    48.82   98.83     4.26    79.90
BBDC4    43.09   88.44    19.19    78.63
B3SA3    77.28   99.62    17.85    98.81
BBAS3    89.51   99.51    43.80    98.76
ABEV3    18.60   85.71     0.95    76.88
MGLU3    42.82   93.89    13.77    97.26
VVAR3     4.55   73.33     5.33    50.39

In [8]:
# avg improvement

improv_x = pd.DataFrame(vecImprovement(lstm_ceemdan,xlstm_ceemdan)).round(decimals=2)
improv_x.columns = [['mse_avg','mse_std','mape_avg','mape_std']]
improv_x = improv_x.rename(index=index_name_mapping)

improv_x.to_csv(f'summary_results/improv_x.csv', sep=',', encoding='utf-8')

print('Improvement: \n\nXLSTM-CEEMDAN Vs LSTM-CEEMDAN')
improv_x

Improvement:

XLSTM-CEEMDAN Vs LSTM-CEEMDAN

       mse_avg mse_std mape_avg mape_std
PETR4    -6.45  -34.39   -11.40   -40.91
VALE3   -56.93  -30.46    -3.93   -32.34
BOVA11    6.62   11.01    -7.68   -22.22
ITUB4   -60.19  -36.36    -6.96   -33.97
BBDC4   -45.07  -38.92    -6.82   -32.06
B3SA3   -63.29  -36.66   -10.16   -33.05
BBAS3   -66.85  -24.11   -11.35    -9.38
ABEV3    -8.14    3.57    -3.78   -34.38
MGLU3     9.51   -3.02    -7.81   -28.66
VVAR3    18.18   53.33    -3.48    -5.86

In [9]:
avg_improv_summary = pd.concat([improv_spline.mean().T, improv_x.mean().T, improv_x_spline.mean().T], axis=0)
avg_improv_summary.columns = [['mse_avg','mse_std','mape_avg','mape_std']]

avg_improv_summary = {}
avg_improv_summary['spline'] = {
    'mse_avg': improv_spline.mean()[0],
    'mse_std': improv_spline.mean()[1],
    'mape_avg': improv_spline.mean()[2],
    'mape_std': improv_spline.mean()[3]
} 

avg_improv_summary['x'] = {
    'mse_avg': improv_x.mean().to_numpy()[0],
    'mse_std': improv_x.mean().to_numpy()[1],
    'mape_avg': improv_x.mean().to_numpy()[2],
    'mape_std': improv_x.mean().to_numpy()[3]
} 

avg_improv_summary['x_spline'] = {
    'mse_avg': improv_x_spline.mean().to_numpy()[0],
    'mse_std': improv_x_spline.mean().to_numpy()[1],
    'mape_avg': improv_x_spline.mean().to_numpy()[2],
    'mape_std': improv_x_spline.mean().to_numpy()[3]
} 

avg_improv_summary = pd.DataFrame(avg_improv_summary)
avg_improv_summary = avg_improv_summary.round(decimals=2)
avg_improv_summary.to_csv(f'summary_results/overall_improvements.csv', sep=',', encoding='utf-8')
avg_improv_summary

          spline       x  x_spline
mse_avg   48.875 -27.261    56.148
mse_std   92.196 -13.601    94.009
mape_avg  14.663  -7.337    22.360
mape_std  82.194 -27.283    79.417